.form {
    max-width: 1024px;
}

.form__header {
    padding: 20px 10px;
    margin-bottom: 2px;
    background-color: #fff;
}

.form__container {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .form__container {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.form__input {
    padding: 10px;
    flex-basis: 69%;
}

@media (max-width: 767px) {
    .form__input {
        width: 100%;
    }
}

.form__button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    flex-basis: 30%;
    align-self: flex-end;
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
        margin-top: 10px;
    }
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
}