html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    width: 80%;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
}