.list {
    margin-top: 10px;
}

.list__header {
    margin-bottom: 2px;
    padding: 10px;
    background-color: #fff;
}

.list__container {
    padding: 10px;
    background-color: #fff;
    list-style: none;
    margin: 0;
}

.list__item {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    justify-content: center;
    align-items: center;
}

.list__content {
    padding: 10px;
    grid-column: 2;
    overflow-wrap: break-word;
}

.list__content--done {
    text-decoration: line-through;
}

.list__button {
    padding: 5px;
    font-size: 20px;
    width: 33px;
    height: 33px;
    color: white;
    border: none;
}

.list__button--done {
    grid-column: 1;
    background-color: rgb(11, 173, 84);
}

.list__button--done:hover {
    background-color: hsl(147, 88%, 46%);
}

.list__button--remove {
    grid-column: 3;
    background-color: rgb(207, 38, 38);
}

.list__button--remove:hover {
    background-color: hsl(0, 69%, 58%);
}