.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.list__item--hidden {
    display: none;
}

.list__content {
    overflow-wrap: anywhere;
}

.list__content--done {
    text-decoration: line-through;
}

.list__button {
    padding: 0;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.list__button--toggleDone {
    background-color: hsl(120, 61%, 34%);
}

.list__button--toggleDone:hover {
    background-color: hsl(124, 64%, 39%);
}

.list__button--toggleDone:active {
    background-color: hsl(124, 64%, 44%);
}

.list__button--remove {
    background-color: hsl(348, 83%, 47%);
}

.list__button--remove:hover {
    background-color: hsl(348, 83%, 52%);
}

.list__button--remove:active {
    background-color: hsl(348, 83%, 57%);
}