.list {
    margin-top: 10px;
    max-width: 1024px;
}

.list__header {
    margin-bottom: 2px;
    padding: 10px;
    background-color: #fff;
}

.list__container {
    padding: 10px;
    background-color: #fff;
    list-style: none;
    margin: 0;
}

.list__item {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.list__content {
    padding: 10px;
    overflow-wrap: break-word;
}

.list__content--done {
    text-decoration: line-through;
}

.list__button {
    padding: 5px;
    font-size: 20px;
    width: 33px;
    height: 33px;
    color: white;
    border: none;
}

.list__button--done {
    grid-column: 1;
    background-color: #1b7a22;
}

.list__button--done:hover {
    background-color: hsl(124, 64%, 39%);
}

.list__button--remove {
    grid-column: 3;
    background-color: #eb293a;
}

.list__button--remove:hover {
    background-color: hsl(355, 83%, 64%);
}
