.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #ddd;
}

.section__wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 20px;
    padding: 0 20px 0 0;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 767px) {
    .section__wrapper {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.section__header--noBorder {
    border-bottom: none;
}

.section__body {
    padding: 20px;
}

.section__button {
    padding: 0;
    background: none;
    color: hsl(180, 100%, 20%);
    border: none;
    cursor: pointer;
    transition: 1s;
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

.section__button:active {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: gray;
}

.section__button--hidden {
    display: none;
}